Add project:<br />

<form [formGroup]="projectForm" novalidate (ngSubmit)="save(projectForm._value)">

    <div>
        <label>Project Name</label>
        <input type="text" formControlName="projectName">
        <small *ngIf="!projectForm.controls.projectName.valid">
            Project name is required (maximum 50 characters).
        </small>
    </div>

    <div>
        <label>Description</label>
        <input type="text" formControlName="description">
        <small *ngIf="!projectForm.controls.description.valid">
            Description is required (maximum 300 characters).
        </small>
    </div>

    <div>
        <label>Private</label>
        <input type="checkbox" name="private" formControlName="private">
    </div>

    <div formArrayName="tags">
    Tags
        <div *ngFor="let tag of projectForm.controls.tags.controls; let i=index">
            <span>
                <span *ngIf="projectForm.controls.tags.controls.length > 1" 
                    (click)="removeTag(i)">X
                </span>
            </span>

            <span [formGroupName]="i">
                 <input type="text" formControlName="tag">
            </span>
        </div>
        <a *ngIf="projectForm.controls.tags.controls.length < 5" (click)="addTag()">+</a>
    </div>

    <div formArrayName="languages">
    Languages
        <div *ngFor="let language of projectForm.controls.languages.controls; let i=index">
            <span>
                <span *ngIf="projectForm.controls.languages.controls.length > 1" 
                    (click)="removeLanguage(i)">X
                </span>
            </span>

            <span [formGroupName]="i">
                 <input type="text" formControlName="language">
            </span>
        </div>
        <a (click)="addLanguage()">+</a>
    </div>
    <button type="submit" [disabled]="!projectForm.valid">Submit</button>
</form>
<br /><br />
<br /><br />
<form (submit)="onSearchSubmit()">
    Search: <input type="text" name="searchString" (keyup)="onSearchSubmit()" [(ngModel)]="searchString" />
    <!-- <input type="submit" /> -->
</form>

<br /><br />
Projects:
<br /><br />
<div *ngFor="let project of projects">
	<div>Project Name: {{ project.projectName }}</div>
	<div>Description: {{ project.description }}</div>
	<div>Project by: {{ project.name }}</div>
	<div>Languages: 
        <span *ngFor="let language of project.languages">{{ language }} </span>
    </div>
	<div>Tags:
        <span *ngFor="let tag of project.tags">{{ tag }} </span>
    </div>
    <button (click)="requestJoinProject(project.projectName, project.name)">Join</button>
	<br />
</div>
