<br />
<div class="flex-container">
    <div class="half-container" *ngIf="project">
        <div class="ui large header">{{ project.projectName }}</div>
        <div *ngIf="project.private">Private</div>
        <div class="ui sub header">Description</div>
        <div>{{ project.description }}</div>
        <div class="ui sub header">Project by</div>
        <div>{{ project.name }}</div>
        <div *ngIf="project?.pending?.length > 0" class="ui sub header">Pending invites</div>
        <div>
            <span class="ui label" *ngFor="let member of project.pending">{{ member.username }} </span>
        </div>
        <div *ngIf="project?.team?.length > 0" class="ui sub header">Team</div>
        <div>
            <span *ngFor="let member of project.team">{{ member.username }} 
            <button class="ui mini negative button" *ngIf="userIsCreator" (click)="removeMemberFromProject(project.projectName, member.username)">Remove</button>
            </span>
        </div>
        <div *ngIf="project?.languages?.length > 0" class="ui sub header">Languages</div> 
        <div>
            <span class="ui label" *ngFor="let language of project.languages">{{ language }} </span>
        </div>
        <div *ngIf="project?.tags?.length > 0" class="ui sub header">Tags</div>
        <div>
            <span class="ui tag label" *ngFor="let tag of project.tags">{{ tag }} </span>
        </div>
        <br />
        <button class="ui mini negative button" *ngIf="canLeave" (click)="leaveProject(project.projectName, project.username)">Leave</button>
    </div>
    <div class="half-container" *ngIf="project && userIsCreator">
        <div *ngIf="userIsCreator">
            <div *ngIf="project?.requests?.length > 0" class="ui sub header">Requests</div>
            <br />
            <div class="ui segment" *ngFor="let request of project.requests">
            {{ request.username }} 
                <div class="request-buttons">
                    <button class="ui mini positive button" (click)="acceptRequestToJoinTeam(request.username, project.projectName)">Accept</button>
                    <button class="ui mini negative button" (click)="declineRequestToJoinTeam(request.username, project.projectName)">Decline</button>
                </div>
            </div>
            <div class="ui sub header">Add team member</div>
            <div class="ui small fluid input">
                <input type="text" placeholder="Search Users..." name="searchStringUser" (keyup)="onUserSearch()" [(ngModel)]="searchStringUser" />
            </div>
            <div *ngFor="let profile of profiles">
                <div class="invite-box">
                    <div class="ui segment" *ngIf="!isInTeamOrRequested(profile.username)">
                            <div>{{ profile.name }}</div>
                            <!-- <div>Username: {{ profile.username }}</div> -->
                            <div class="request-buttons">
                                <button class="ui mini positive button" (click)="sendTeamInvite(profile.username, project.projectName)">Invite</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="half-container" *ngIf="invites?.length > 0">
        <div class="ui header">Invitations</div>
        <div class="ui fluid card" *ngFor="let invite of invites">
            <div class="content">
                <div class="ui header">{{ invite.projectName }}</div>
                Project by
                <strong>{{ invite.creator }}</strong>
                <div class="extra content right floated">
                    <button class="ui mini button" (click)="getProjectFromInvite(invite.projectName, invite.creator)">View</button>
                    <button class="ui mini positive button" (click)="acceptProjectInvite(invite.projectName, invite.creator)">Accept</button>
                    <button class="ui mini negative button" (click)="declineProjectInvite(invite.projectName, invite.creator)">Decline</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="half-container">
        <div *ngIf="userProjects?.length > 0">
            <div class="ui header">My Projects</div>
            <div *ngFor="let project of userProjects">
                <div class="card-container">
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="ui header">{{ project.projectName }}</div>
                            <div>{{ project.description }}</div>
                            <div class="project-options">
                                <button class="ui button" (click)="viewProject(project.projectName, project.username)">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="half-container">
        <div *ngIf="teams?.length > 0">
            <div class="ui header">Projects I contribute to</div>
            <div *ngFor="let team of teams">
                <div class="card-container">
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="ui header">{{ team.projectName }}</div>
                            <div>Project by {{ team.creator }}</div>
                            <div class="project-options">
                                <button class="ui button" (click)="getProject(team.projectName, team.creator)">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>