<div class="ui bottom demo inverted sidebar labeled icon menu">
      <a class="item">
        <i class="comment icon"></i>
        Chat
      </a>
      <a class="item">
        <i class="mail icon"></i>
        Mail
      </a>
      <a class="item">
        <i class="code icon"></i>
        Code
      </a>
      <a class="item">
        <i class="paint brush icon"></i>
        Design
      </a>
      <a class="item">
        <i class="file icon"></i>
        Documents
      </a>
      <a class="item">
        <i class="users icon"></i>
        Team
      </a>
      <a class="item">
        <i class="selected radio icon"></i>
        Video Call
      </a>
      <a class="item">
        <i class="align left icon"></i>
        Progress
      </a>
</div>
<div class="ui text center aligned container">
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="ui huge text header">Workstation</div>
	<button (click)="toggleSideBar()" class="ui button">Menu</button>
</div>